.wizard-container {
  background: white;
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
}

.wizard-container input {
  margin-left: 10px;
  height: 30px;
  border: 1px solid #0275d8;
  border-radius: 10px;
  outline: none;
}

.step1-wrapper {
  position: relative;
}

.button {
  background-color: #0275d8;
  color: white;
  width: 150px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
}

.error-message {
  color: red;
}

.select-dropdown,
input {
  margin-left: 10px;
  outline: none;
  border: 1px solid black;
  height: 35px;
  width: 200px;
  padding-left: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.modal-content {
  width: 450px;
  margin: 0 auto;
}
