.container {
  padding: 20px;
  margin-top: 40px;
  border-radius: 20px;
  width: 420px;
  overflow: auto;
  background: radial-gradient(
      farthest-side at 40% 100%,
      rgba(87, 229, 197, 0.3),
      transparent
    ),
    radial-gradient(
      farthest-side at top right,
      rgba(106, 139, 235, 0.5),
      transparent
    ),
    radial-gradient(farthest-side at top left, #fff, transparent);
}
