.widget-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  width: 150px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 17px;
  margin-right: 20px;
  outline: none;
  cursor: pointer;
}

.no-data {
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
}

.name-language p {
  margin: 0;
}
